.search-bar{
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    border: 2px solid rgba(121, 114, 114, 0.64);;
    border-radius: 37px;
    padding-left: 24px;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 23px;
    font-weight: 600;
}

.list-group-item {
    cursor: pointer;
    display: inline-block !important;
}

.video-list {
    float: left;
}
